.btn-space {
    margin-right: 5px;
}

.nav-item{
    color:white;
    padding:10px;
}

.nav-link{
    color:white;
}

.nav-link:hover{
    color:#00aaff;
    text-decoration: none;
}
.nav-displace{
    margin-bottom: 3%;
}